<head>
    <link rel="stylesheet" href="app.css" type="text/css">
    <link rel="icon" type="image/png" href="todo.png" />
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <title>todoList</title>
</head>

<body>
<header>
    <h1>todo<span>List</span></h1>
    <h2>Todo list app built with node</h2>
</header>

<section class="form">
    <input type="text" id="todoInput" placeholder="Insert your task here...">
</section>

<ul class="list"> 
</ul>

<footer class="footer">Coded by <a href="https://github.com/antebozic/spa_todo" target="_blank">Ante Bozic</a> 2018</footer>

<script type="text/javascript" src="app.js"></script>
</body>