@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900|Montserrat:300,400,700,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    /*
    1rem=10px  10/16=0.625
    */
}

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    /* background: rgba(126, 213, 111, 0.2); */
    background-image: linear-gradient(
    to right bottom,
     rgba(126, 213, 111, 0.6),
     rgba(40, 180, 133, 0.8));
}

/*HEADER STYLES*/
header {
    text-align: center;
    margin-bottom: 3rem;
}

header h1 {
    font-size: 6.4rem;
    font-weight: 300;
    margin: 8rem 0 1rem;
    color: #119DA4;
    animation: 3s ease-out moveInRight;
}

header h1 span {
    font-weight: 700;
    color: #07396A;
}

header h2 {
    color: rgba(222,107,72, 0.9);
    font-weight: 300;
    font-family: 'Merriweather', serif;
    animation: 3s ease-out moveInLeft;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
} 


@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*FORM STYLES*/

.form {
    width: 75%;
    margin: 5rem auto 2rem;
    opacity: 0;
    animation: 2s slideUp 1s forwards;
    text-align: center;
}

#todoInput {
    width: 80%;
    height: 6rem;
    background: none;
    border: none;
    border-bottom: 0.2rem solid #119DA4;
    outline: none;
    font: 400 2.8rem 'Ubuntu', sans-serif;
    padding: 2rem;
    color: #07396A;
    transition: all 1.5s 0.2s ease;
}

#todoInput::placeholder {
    color: #119DA4;
    opacity: 0.4;
}

#todoInput:hover, 
#todoInput:focus {
    width: 100%;
    transform: translateY(1px);
    border-radius: 50rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

/*LIST STYLES*/

.list {
    width: 75%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10rem;
    opacity: 0;
    animation: 2s slideUp 1.5s forwards;
}

@keyframes slideUp {
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

li {
    animation: 1.5s ease-out moveInLeft;
}

.task {
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    font-size: 2rem;
    padding: 0 2rem;
    color: #07396A;
    transition: all .4s ease;
}

.task:hover {
    background: rgba(0,0,0, .03);
    cursor: pointer;
    font-size: 2.1rem;
}

.task:hover span{
    opacity: 1;
}

.done {
    text-decoration: line-through;
    color: rgba(222,107,72, 0.6);
}

li span {
    float: right;
    color: #c0392b;
    transition: all 0.6s 0.1s ease;
    opacity: 0;
    font-size: 2.5rem;
}

li span:hover {
    color: #e74c3c;
    font-size: 4rem
}

/*FOOTER STYLES*/

.footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #119DA4;
}

.footer a{
    text-decoration: none;
    color: #07396A;
    transition: all 0.5s 0.1s ease;
}

.footer a:hover{
    font-size: 150%;
}

/*
MEDIA QUERY MANAGER
0-600 phone
600-900 tablet portrait
900-1200 tablet landscape
>1200 desktop

1em  = 16px
75em = 1200px
56.25em = 900px
37.5em = 600px
112.5em = 1800px
*/

@media (max-width: 75em) {
    html {
        font-size: 56.25%; 
    }
}

@media (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
    header h1 {
        margin: 5rem 0 1.5rem;
    }
    .form {
        width: 85%;
        margin: 3.5rem auto 1.5rem;
    }
    .list {
        width: 85%;
    }
}

@media (max-width: 37.5em) {
    html {
        font-size: 45%; 
    }
    header h1 {
        margin: 2.5rem 0 0.5rem;
        font-size: 4.5rem;
    }
    #todoInput {
        padding: 1rem;
        height: 4rem;
        font: 300 2.6rem 'Ubuntu', sans-serif;
    }
    .form {
        width: 87%;
        margin: 2.5rem auto 0.5rem;
    }
    .task {
        font-size: 1.8rem;
    }
    .list {
        width: 87%;
        margin: 0 4rem;
    }
} 

@media (min-width: 112.5em) {
    html {
        font-size: 80%; 
    }
}

